<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVOTM2s88nAP3U-pHAxPkpd0i09kt0krA</string>
	<key>GCM_SENDER_ID</key>
	<string>513816233233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appStore</string>
	<key>PROJECT_ID</key>
	<string>store-app-bfb84</string>
	<key>STORAGE_BUCKET</key>
	<string>store-app-bfb84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513816233233:ios:c464f04fff7b754b9278b0</string>
</dict>
</plist>